<% provide(:title, 'About Us') %>
    <h1>Aura Decision Systems</h1>
    <p>Aura Decision Systems website powered by
      <a href="http://rubyonrails.org/">Ruby on Rails</a> and the
      <a href="http://redmine.org/"> Redmine Project</a>
    </p>
