<% provide(:title, 'Home') %>
    <h1>Aura Decision Systems</h1>
    <p>Aura Decision Systems provides advanced business process 
automation and comprensive operational risk analysis.  Services 
include:
<ul>
  <li>validation and optimization of current processes</li>
  <li>comprehensive and efficient tracking of compliance efforts</li>
  <li>deliver a broad sprectrum of business intelligence (BI), 
business analytic (BA), real-time data stream processing, and 
data visualization components</li>
  <li>automate complex back-office transactions, including third 
party interactions</li>
  <li>operational risk analysis</li>
<ul>
</p>
<p>Today's business environment is more complex and demanding then ever before.  Let help Aura Decision Systems get your business processes working for you, not
 consuming valuable resources.  
</p>  

