<div class="center hero-unit">

<h1>AURA SAR Completion Wizard</h1>
<h2>You have landed at the Aura Decision Point Systems
SAR completion wizard page.</h2>
<p>Aura Decision Systems provides advanced business process 
automation and comprensive operational risk analysis.  Services 
include:

</p>
<p>Today's business environment is more complex and demanding then ever before.  Let help Aura Decision Systems get your business processes working for you, not
 consuming valuable resources.  
</p>  

<%= link_to "Sign up now!", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
<%= link_to image_tag("http://www.a51.nl/storage/images/fincen.jpg", alt: "FINCEN"), 'http://www.fincen.gov/' %>
